services:
  # https://github.com/geigerzaehler/oidc-provider-mock
  idp:
    image: ghcr.io/geigerzaehler/oidc-provider-mock:latest
    # Let this container be accessible both internally and externally on the same domain.
    container_name: idp.${COMPOSE_DOMAIN}
    networks:
      - app
      - frontend
    ports:
      - "80"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=frontend"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-idp.rule=Host(`idp.${COMPOSE_DOMAIN}`)"
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-idp.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
    command: [
        "--port",
        "80",
        "--user-claims",
        '{"sub": "administrator", "name": "Administrator", "email": "administrator@example.com", "role": ["Administrator"]}',
        "--user-claims",
        '{"sub": "editor", "name": "Editor", "email": "editor@example.com", "role": ["Redaktoer"]}',
        "--user-claims",
        '{"sub": "another editor", "name": "Another editor", "email": "another-editor@example.com", "role": ["Redaktoer"]}',
        "--user-claims",
        '{"sub": "user", "name": "User", "email": "user@example.com", "role": ["Bruger"]}',
        # A selection of fixture users (cf. web/modules/custom/ai_screening_fixtures_base/src/Fixture/UserFixture.php)
        "--user-claims",
        '{"sub": "user1", "name": "User", "email": "user1@example.com", "role": ["Bruger"]}',
        "--user-claims",
        '{"sub": "user2", "name": "User", "email": "user2@example.com", "role": ["Bruger"]}',
        "--user-claims",
        '{"sub": "user3", "name": "User", "email": "user3@example.com", "role": ["Bruger"]}',
        "--user-claims",
        '{"sub": "user4", "name": "User", "email": "user4@example.com", "role": ["Bruger"]}',
      ]
