<header role="banner" class="bg-white dark:bg-secondary text-primary px-3 md:px-5 py-3 flex flex-row items-center gap-5 border-b border-primary" >

  {{ include('@itkdev_project_theme/components/nav-button.html.twig') }}

  <div class="ml-auto gap-4 flex">
    {{ include('@itkdev_base_theme/components/darkmode-toggle.html.twig') }}
    {{ include('@itkdev_project_theme/components/user-menu.html.twig') }}
  </div>

</header>
