<a href="/node/add/event" class="bg-green-700 hover:bg-green-600 text-white font-bold py-2 px-4 rounded inline-flex items-center" data-drupal-link-system-path="node/add/project">
  <i class="fa-solid fa-circle-plus mr-3"></i>
  {# todo how do I add translation #}
  <span>{{ 'Create new project'|t }}</span>
</a>
