{% set toolLabel = form['#tool_helper'].getToolLabel(projectTrackTool) %}
{% set toolStatus = form['#tool_helper'].getToolStatus(projectTrackTool) %}

<header class="flex justify-between px-4 py-4 border-b">
  <h2 class="m-0 text-lg dark:text-white">{{ toolLabel }}</h2>
  <div>
    {% if toolStatus.fields is same as 0 %}
      {{ 'New'|t }}
    {% elseif toolStatus.fields is same as toolStatus.populated %}
      <span class="mr-3 align-middle">{{ 'Completed'|t }}</span><span class="rounded-full align-middle inline-flex shadow-[0_0_10px_rgba(21,128,61,.75)]"><i class="text-green-700 fa-solid fa-circle-check"></i></span>
    {% else %}
      {{ 'Started @populated of @fields steps'|t({'@populated': toolStatus.populated, '@fields': toolStatus.fields}) }}
    {% endif %}
  </div>
</header>
