{#
/**
 * @file
 * AI screening implementation to display a node.
 *
 * @see web/core/modules/node/templates/node.html.twig
 *
 * This component requires additional parameters to be included.
 *   - @param array project_status
 *       A list of integers with values 0-3 that indicates the status of each project track.
 */
#}

{% set evaluation = project_status.track_evaluation|default([0]) %}

<div class="flex flex-col gap-1 w-20">
    <div class="w-full h-2
        {% if evaluation[1] is same as('none') %}
          bg-zinc-400
        {% elseif evaluation[1] is same as('approved') %}
          bg-green-600
        {% elseif evaluation[1] is same as('undecided') %}
          bg-yellow-600
        {% elseif evaluation[1] is same as('refused') %}
          bg-red-600
        {% endif %}
    ">
    </div>

    <div class="flex flex-row items-center gap-1 text-sm">
        {% for status in project_status.track_evaluation %}
            <div class="min-w-1 grow h-2
                {% if status == 'none' %}
                    bg-zinc-400
                {% endif %}
                {% if status == 'approved' %}
                    bg-green-600
                {% endif %}
                {% if status == 'undecided' %}
                    bg-yellow-600
                {% endif %}
                {% if status == 'refused' %}
                    bg-red-600
                {% endif %}
            "></div>
        {% endfor %}
    </div>
</div>
