{#
/**
 * @file
 * AI screening implementation to display a node.
 *
 * @see web/core/modules/node/templates/node.html.twig
 *
 * This component requires additional parameters to be included.
 *   - @param array project_status
 *       A list of integers with values 0-3 that indicates the status of each project track.
 */
#}

{% set evaluation = project_status.track_evaluation|default([0]) %}

<div class="flex flex-col gap-1 w-20 align-center">
    <div class="w-full h-2
        {% if 'none' in evaluation %}
          bg-zinc-400
        {% elseif 'refused' in evaluation %}
          bg-red-600
        {% elseif 'undecided' in evaluation %}
          bg-yellow-600
        {% elseif 'approved' in evaluation %}
          bg-green-600
        {% endif %}
    ">
    </div>

    <div class="flex flex-row items-center gap-1 text-sm">
        {% for status in project_status.track_evaluation %}
            <div class="min-w-1 grow h-2
              {{ {
                none: 'bg-zinc-400',
                refused: 'bg-red-600',
                undecided: 'bg-yellow-600',
                approved: 'bg-green-600',
            }[status] ?? '' }}
            "></div>
        {% endfor %}
    </div>
</div>
