{#
/**
 * @file
 * Default theme implementation for a node edit form.
 *
 * The template for the node add/edit form.
 *
 * This template will be used when a node edit form specifies 'node_edit_form'
 * as its #theme callback.  Otherwise, by default, node add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @ingroup themeable
 */
#}
{% extends '@itkdev_project_theme/content-wrapper.html.twig' %}

{% block title %}
  {% set pageTitle = form['#title'] %}
  {{ parent() }}
{% endblock %}

{% block content %}
  <div class="pb-5 rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-slate-600 drop-shadow-md">
    {{ form|without('advanced') }}
  </div>
{% endblock %}
