@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* All your print styles go here */
  #admin-toolbar,
  #sidebar-nav,
  #header,
  #reportLawTrackToolbar,
  #breadcrumb,
  .admin-toolbar-control-bar,
  .btn,
  .btn-primary {
    display: none !important;
  }

  a {
    color: inherit;
  }

  #main-content,
  #elementGroups,
  #groupDemands,
  #groupRules
  #groupTasks,
  #groupConsiderations,
  .ai-screening-yes-no-stop--text-stop,
  .ai-screening-yes-no-stop--text-yes {
    position: relative!important;
  }

  .task,
  .consideration,
  .rule,
  .stop {
    display: block!important;
    position: relative!important;
    break-inside: avoid-page!important;
  }

}